*{
  margin: 0;
  padding: 0;
  font-size: 10px;
  font-family: Playfair Display;
}

body{
  background-image: url(./img/fondo-website-completo.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  max-width: 100%;
  overflow-x: hidden;
}


@media only screen and (min-width: 768px) {

  .hello{
    font-family: 'Barlow', sans-serif;
    font-style: italic;
    font-weight: bolder;
    font-size: 12rem;
    line-height: 12rem;
    color: white;

    margin: 1rem;
    margin-top: 0px;
    margin-left: 6rem;
    line-height: 120px;

    /* Amarillo */
    -webkit-text-stroke: 1px #F9B233;
    -webkit-text-stroke-color: #F9B233;
  }

  .name{
    font-size: 20rem;
  }
  
  .intro-box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 6rem;
    margin-left: 6rem;
    align-items: baseline;
  }

  .box2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 30vw;
  }

  .iam-description{
    font-style: normal;
    font-weight: normal;
    font-size: 6rem;
    line-height: 8rem;
    color: #1F3D8A;
  }
  
  .plus{
  text-decoration: none;
  font-style: italic;
  font-weight: 300;
  font-size: 15rem;
  color: #EB593B;
  }
  
  
}
