*{
  margin: 0;
  padding: 0;
  font-size: 10px;
  font-family: Playfair Display;
}

body{
  background-size: 100%;
  background-repeat: no-repeat;
  max-width: 100%;
  overflow-x: hidden;
}


@media only screen and (min-width: 768px) {
  h1{
    font-family: 'Barlow', sans-serif;
    font-style: italic;
    font-weight: bolder;
    font-size: 12rem;
    line-height: 12rem;
    color: white;

    margin: 1rem;
    margin-top: 0px;
    margin-left: 6rem;
    line-height: 120px;

    /* Amarillo */
    -webkit-text-stroke: 1px #F9B233;
    -webkit-text-stroke-color: #F9B233;
  }
  
  
  .intro-box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 6rem;
    margin-left: 6rem;
    align-items: baseline;
  }

  .box2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
  }
  
  .plus a{
  text-decoration: none;
  font-style: italic;
  font-weight: 300;
  font-size: 15rem;
  color: #EB593B;
  }

  a{
    text-decoration: none;
    font-style: italic;
    font-weight: 300;
    font-size: 3.5rem;
    color: #EB593B;
    }
  
  .iam-description{
    font-style: normal;
    font-weight: normal;
    font-size: 6rem;
    line-height: 8rem;
    color: #1F3D8A;
    width: 50%;
  }
  
  .list{
    list-style: none;
    margin-bottom: 50px;
  }
  
  .list li{
    font-style: normal;
    font-weight: normal;
    font-size: 2.5rem;git 
    letter-spacing: 0.00625rem;
    color:#f58486;
    font-weight: 900;
  }

  .intro-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

/* segunda parte */

  .description{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 6rem;
  }

  .profile{
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%;
  }

  .profile_pic{
    width: 40rem;
  }

  h2{
    font-style: normal;
    font-weight: normal;
    font-size: 3.5rem;
    line-height: 6rem;
    color: black;
    width: 75%;
  }

  h2 span{
    font-style: normal;
    font-size: 4rem;
    line-height: 6rem;
    color: #EB593B;
  }

  .interested{
    font-family: 'Barlow', sans-serif;
    font-weight: bold;
    margin-top: 10rem;    
    color: #F9B233;
  }

  .soft-skills ul{
    list-style: none;
    font-size: 2rem;
    margin: 1rem 0rem 1rem 0rem;
  }

  .soft-skills li{
    list-style-type: none;
    font-style: normal;
    font-weight: bold;
    color: #1F3D8A;
    text-align: right;
    margin-right: 6rem;
  }

  .education li{
    list-style-type: none;
    font-style: normal;
    font-weight: bold;
    color: #1F3D8A;
    text-align: right;
    margin-right: 6rem;
  }

/* tercera parte */

  .projects{
    display: flex;
    align-items: center;
    justify-content:space-between;
    flex-direction: column;
    margin: 6rem;
  }

  .project{
    width:30%;
  }

  .project img{
    width: 75rem;
    height: 25rem;
    object-fit: cover;
  }

  .project-name{
    font-family: 'Barlow', sans-serif;
    font-style: italic;
    font-weight: bolder;
  }

  .project-description{
    font-size: 2rem;
    /* line-height: 6rem; */
  }

  .project-description a{
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    font-size: 2rem;
    color: #EB593B;
    line-height: 6rem;
  }

  .pback{
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%;
  }

}